---
import FeatureList from "../components/FeatureList.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Section from "../components/Section.astro";

import { getCollection, render } from "astro:content";

const sections = await getCollection("curriculum");
sections.sort((a, b) => a.data.order - b.data.order);
---

<MainLayout>
  {
    await Promise.all(
      sections.map(async (section, index) => {
        const { Content } = await render(section);
        return (
          <>
            <Section id={section.data.slug}>
              <h2>{section.data.title}</h2>
              <Content />
            </Section>
            {index === 1 && <FeatureList />}
          </>
        );
      })
    )
  }
</MainLayout>
