---
import Nav from "../components/Nav.astro";
---

<div class="sidebar">
  <h2>Sidebar</h2>
  <input id="menu-toggle" type="checkbox" />
  <Nav />
</div>

<style>
  .sidebar {
    position: sticky;
    inset-block-start: 4rlh;
    align-self: start;
    z-index: 2;
  }
</style>
