---
import "../styles/global.css";
import { Font } from "astro:assets";
import Hero from "../components/Hero.astro";
import Settings from "../components/Settings.astro";
import Nav from "../components/Nav.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Frontend Design</title>
    <style is:inline>
      @layer reset, theme, global, components, overrides;
    </style>
    <Font cssVariable="--font-flex" preload />
  </head>
  <body>
    <Nav />
    <Hero />
    <Settings />
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  @layer global {
    main {
      display: grid;
      gap: 2rlh;
      padding-block-end: 6rlh;
      /* padding: 2rlh max(1rlh, 50% - 90ch / 2); */
      @media (width > 600px) {
        /* grid: auto / fit-content(300px) 1fr; */
        grid: auto / 1fr minmax(0, 90ch) 1fr;

        > * {
          grid-column: 2;
        }
      }
      @media (width <= 600px) {
        .sidebar {
          display: none;
        }
      }
    }
  }
</style>

<script>
  const menuToggle = document.querySelector("#menu-toggle");
  menuToggle?.addEventListener("change", (e) => {
    const checked = (e.target as HTMLInputElement).checked;
    document.documentElement.toggleAttribute("data-sidebar-menu", checked);

    document.documentElement.classList.add("sidebar-transitioning");

    setTimeout(() => {
      document.documentElement.classList.remove("sidebar-transitioning");
    }, 300);
  });
</script>
